{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}


<article class="blog-post">
    <h1>
				{{ .Title | markdownify }}
    </h1>
    <!-- <div class="post-meta small"> -->
    <!--   <small> -->
    <!--     <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"> -->
    <!--       {{ .Date.Format $dateFormat }} -->
    <!--     </time> by {{ .Params.author | default .Site.Params.author }}. -->
    <!--     {{ if (.Params.categories) }}Categories: {{ partial "meta-categories.html" . }}.{{ end }} -->
    <!--     {{ if (.Params.tags) }}Tags: {{ partial "meta-tags.html" . }}.{{ end }} -->
    <!--     <br> -->
    <!--     {{ if not .Site.Params.sharingicons.hide }} -->
    <!--       {{ partial "sharing-icons.html" . }} -->
    <!--     {{ end }} -->
    <!--   </small> -->
    <!-- </div> -->

    <hr/>

    {{ .Content }}

    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li><a href="{{ .Permalink }}">
            {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
        </a></li>
        {{ end }}
    </ul>
    {{ end }}
    <hr>
  </article>

{{ end }}
