<header class="nav">
	<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle></button>
		<div class="title-bar-title">{{ i18n "menu" }}</div>
	</div>
	<div class="top-bar" id="main-menu">
		<!-- <div class="top-bar-left"> -->
		<!-- 	<ul class="dropdown menu" data-dropdown-menu> -->
		<!-- 		<li class="menu-text">Site Title</li> -->
		<!-- 	</ul> -->
		<!-- </div> -->
		<div class="top-bar-right">
			<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        {{ if .Site.Params.custom_navbar }}
        {{ range .Site.Menus.navbar }}
        <li><a href="{{.URL | absURL }}">
            {{ .Name }}
        </a></li>
        {{ end }}
        {{ else }}
        {{ range where .Site.Pages "Type" "!=" "news" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
        {{ end }}
			</ul>
		</div>
	</div>
</header>
